@font-face {
  font-family: "title";
  src: url(/css/fonts/Reghteous/Righteous-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "default";
  src: url(/css/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

body {
  margin: 0px;
  background-color: rgb(223, 223, 223);
  overscroll-behavior: none;
  font-family: 'default',sans-serif;
  font-size: larger;
}
hr {
  border-color:black;
}
.icon-link {
  width: 100px;
  transition: transform 1s;
  display: block;
}
.icon-link:hover {
  transform: scale(1.3);
}
.link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.submit-box {
  width:100%;
  background-color: #9e9e9e;
  border-style: solid;
  border-color: black;
}
.submit-box .input {
  width:75%;
  margin: 10px;
  background-color: #bcbcbc;
  border-style: solid;
  border-color: black;
}
/*login*/
.popup-window {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
border-style: solid;
border-radius: 50px;
border-width: 0;
padding: 50px;
width: 645px;
margin: auto;
color: black;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.popup-window input {
width: 402px;
padding: 10px;
}
.va-title {
height:100px;
display: flex;
align-items: center; 
justify-content: center;
font-size: 48px;
text-align: center;
font-family: "title", "sans-serif";
}
.western_digital-logo img{
  width: 50px;
  margin: 5px;
}
.login-button {
display: block;
background-color: #A24EFE;
border-style: solid;
border-width: 1px;
border-radius: 5px;
width: 402px;
color: black;
text-align: center;
text-decoration: none;
padding: 10px;
user-select: none;
cursor: pointer;
}
/*end of login*/

/* forgot password */
.forgot-window{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-style: solid;
  border-radius: 50px;
  border-width: 0;
  padding: 50px;
  width: 645px;
  margin: auto;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.forgot-window input {
  width: 402px;
  padding: 10px;
  }
.forgot-window img{
  width: 150px;
  height: auto;
}
.forgot-window p{
  text-align: center;
}
.forgot-window .forgot-title{
  font-size: 25px;
}
.forgot-icon{
  margin-bottom: 20px;
}
.forgot-button{
  text-align: center;
}
.forgot-button a{
  display: inline-block;
  padding: 10px 20px;
  background-color: #A24EFE;
  color: black;
  border: solid black;
  border-radius: 20px;
  cursor: pointer;
}
/* end of forgot password */

/* Dashboard */
 header {
  background-color: black;
  height: 90px;
  padding: 10px;
  display: flex;
  align-items: center;
} 
 content {
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}
.operation-bar {
  width: 100%;
  height: 60px;
}
.operation-bar .operation-button {
  border: black 1px solid;
  padding: 10px;
  border-radius:100px;
  user-select: none;
  cursor: pointer;
}
input.search {
  padding: 10px;
}
.button {
  background-color: #A24EFE;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

header .title {
  display: block;
  font-size: 48px;
  margin-left: 20px;
  font-family: "title", sans-serif;
  color: white;
}
header .account-tab {
  display: inline;
  margin-left: auto;
  padding: 10px;
  border-radius: 10px;
}
   
.account-tab .profile-pic {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.profile-pic img{
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}
header .account-tab .account-name {
  display: inline;
  margin: 50px;
  margin-left: 10px;
  color: white;
}

.sidebar {
  min-width: 300px;
}
.dropdown {
  border: solid 1px black;
  padding: 10px;
  margin-bottom: 25px;
}
.dropdown .title {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 10px;
  padding: 10px;
  border: solid 1px black;
  background-color: #A24EFE;
  color: black;
  text-align: left;
  user-select: none;
  cursor: pointer;
}
.dropcategory{
  width: fit-content;
  border-radius:100px;
  padding: 5px;
  /* margin-bottom: 25px; */
}
.category-title{
  border: black 1px solid;
  border-radius:100px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
  color: black;
  text-align: left;
  user-select: none;
  cursor: pointer;
}
.dropcategory .category-title .tie-img img{
  width: 20px;
  height: 10px;
  float: right;
  vertical-align: middle;
  margin-left: 100px;
  transform: rotate(180deg);
}
.dropcategory.open .category-title .tie-img img{
  transform: rotate(0deg);
}
.dropdown .title .title-img img{
  width: 20px;
  height: 10px;
  float: right;
  vertical-align: middle;
  margin-left: 100px;
  transform: rotate(180deg);
}
.dropdown.open .title .title-img img{
  transform: rotate(0deg);
}
.dropdown .content {
  height: 0px;
  overflow: hidden;
}
.dropdown.open .content {
  height: fit-content;
}
.dropdown .content a {
  display: block;
  margin: 10px;
  padding: 10px;
  border: solid 1px black;
  background-color: #A24EFE;
  color: black;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.personal-statistics {
  border: solid 1px black;
  background-color: white;
  padding: 10px;
}
.personal-statistics .wrapper {
  display: flex;
  justify-content: space-between;
}
.line {
  display: block;
  margin-right: auto;
  width: 100%;
  min-width: 0;
}

.line .claim-wrapper {
  margin: 10px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 3px;
  padding: 5px;
  min-width: 0;
  display: flex;
}

.line .claim-wrapper .upvote {
  width: fit-content;
  margin-right: 10px;
  background-color: #438b1b;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  padding: 2px;
  order: 1;
}

.line .claim-wrapper .title {
  min-width: fit-content;
  font-size: larger;
  order: 2;
}

.line .claim-wrapper .description {
  margin-left: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  order: 3;
}
.line .claim-wrapper .status {
  min-width: fit-content;
  order: 4;
  color: black;
}

.line .claim-wrapper .status.filled div {
  background-color: green;
}

.line .claim-wrapper .status div {
  color: black;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
}
.line hr {
  display: none;
}
/* PLACEHOLDER */

/* claim-list grid */
.claim-list.grid {
  display: block;
  margin-right: auto;
  width: 100%;
  min-width: 0;
}
.claim-list.grid .claim-wrapper .upvote {
  width: fit-content;
  margin-right: 10px;
  background-color: #438b1b;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  padding: 2px;
  order: 1;
}
.claim-list.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 100%;

}
.claim-list.grid .claim-wrapper {
  margin: 10px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px 10px 10px 10px;
  border-width: 3px;
  padding: 5px;
}
/* .claim-list.grid .stat{
  display: flex;
} */
.claim-list.grid .claim-wrapper .status {
  min-width: fit-content;
  order: 4;
  color: black;
}
.claim-list.grid .claim-wrapper .status.filled div {
  background-color: green;
}
.claim-list.grid .claim-wrapper .status div {
  color: black;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
}
/* end of claim-list grid */

/* START OF POPUP  */
#popup-wrapper {
display: block;
/* justify-content: center;
align-items: center;  */
background-color: rgba(0, 0, 0, 0.5);
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 60px;
padding-top: 30px;
box-sizing: border-box;
overflow: auto;
z-index: 13;
}
.popup {
display: block;
margin: auto;
margin-top: 30px;
border: 1px solid black;
border-radius: 30px;
background-color: white;
width: 100%;
height: 100%;
max-width: calc(100% - 300px);
max-height: calc(100% - 30px);
box-sizing: border-box;
overflow: auto;
}
.popup .close-button{
position: relative;
float: right;
margin: 10px;
width: fit-content;
height: 50px;
cursor: pointer;
}
.popup #popup-body {
margin: 50px;
}
/* SAVE COMMENT */
.close-button .save-comment{
margin: 10px;
height: 25px;
width: 100%;
align-items: center;
position: relative;
float: right;
cursor: pointer;
background-color: black;
padding: 5px;
cursor: pointer;
border: white 10px solid;
text-align: center;
}
.close-button .submit-comment{
margin: 10px;
height: 25px;
width: 100%;
position: relative;
float: right;
cursor: pointer;
background-color: #A24EFE;
padding: 5px;
cursor: pointer;
border: white 10px solid;
text-align: center;
}
.submit-comment{
font-size: medium;
color: white;
}
.save-comment{
font-size: medium;
color: white;
}
.asterisk::after{
content: '*';
color: red;
}
/* Filter */
.category-container{
display: grid;
grid-template-columns: span(2fr 1fr); /* Two columns */
grid-gap: 10px;
}
.item{
padding: 5px;
}
.item h3 {
margin-bottom: 10px;
}
.item:last-child {
grid-column: span 2; /* Expand the last item to span across both columns */
}
/* Create a custom radio button */
.check-container{
display: flex;
}
.checkmark {
background-color: #eee;
}
/* On mouse-over, add a grey background color */
.checkmark:hover {
background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.checkmark input:checked {
background-color: #2196F3;
}
/* Show the indicator (dot/circle) when checked */
.checkmark:after {
content: "";
position: absolute;
display: none;
}
/* Style the indicator (dot/circle) */
.checkmark input:checked:after {
display: block;
border-radius: 50%;
background: white;
}
/* Style the label text */
.category-text {
font-size: 12px;
font-weight: bold;
}
/* END OF POPUP */
