/* Styles for the reply form container */
.reply-form {
  background-color: #fff;
  border: 1px black solid;
  border-radius: 8px;
  padding: 16px;
  max-width: 92.5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* Styles for the textarea within the reply form */
.reply-textarea {
  width: 98%;
  height: 80px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid rgb(223, 223, 223); /* Light border for the textarea */
  border-radius: 4px; /* Slightly rounded corners for the textarea */
}

/* Styles for the submit button within the reply form */
.reply-button {
  background-color: white;
  border: 1px black solid;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
}

.reply-button:hover {
  background-color: #a24efe;
  transition: background-color 0.5s ease;
}

.comment-submit-form label {
  display: flex;
  align-items: center; /* Aligns the checkbox and label text */
  margin-top: 10px; /* Space above the label */
  color: #333; /* Dark color for label text */
}
